body
{
  margin: 0px;
  padding: 0px;
  line-height: 25px;    
  font-family: Calibri;
  font-size: 18px;
  color: #3babf2; 
  background-color: #040404;
}

#wrapper
{
  width: 100%;
}

/* Page */

#page
{
  border: 1px solid #636363;
  width: 98%;
  height: 990px;
  margin: 11px auto;
  /*padding: 3px 3px 3px 3px; /*background: url(images/img04.jpg) repeat-x left top;
  background: url(images/img04.jpg) repeat;*/
  background-color: #313131;
}
.centre{
  text-align: center;
}
#down-temp{
  display: inline-block;
}
.temp-text{
  display: inline-block;
}
#up-temp{
  display: inline-block;
}
.energy-use{
  margin: auto;
  background-color: black;
  width: 15vw;
  height: 15vw
}

.onoffswitch {
   position: relative; width: 180px;
   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
   display: none;
}
.onoffswitch-label {
   display: block; overflow: hidden; cursor: pointer;
   border: 2px solid #999999 ; border-radius: 20px;
}
.onoffswitch-inner {
   display: block; width: 200%; margin-left: -100%;
   transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
   display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
   font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
   box-sizing: border-box;
}
.onoffswitch-inner:before {
   content: "Power Save ON";
   padding-left: 10px;
   background-color: #34A7C1 ; color: #FFFFFF ;
}
.onoffswitch-inner:after {
   content: "Power Save OFF";
   padding-right: 10px;
   background-color: #EEEEEE ; color: #999999 ;
   text-align: right;
}
.onoffswitch-switch {
   display: block; width: 44px; margin: -13px;
   background: #FFFFFF ;
   position: absolute; top: 0; bottom: 0;
   right: 145px;
   border: 2px solid #999999 ; border-radius: 20px;
   transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
   margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
   right: 0px; 
}