<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <link rel="stylesheet" href="styles/jquery-ui.css">
    <link rel="stylesheet" href="styles/thermostat.css">

    <script src="js/Thermostat.js"></script>
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="lib/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery.thermometer.js"></script>
    <script type="text/javascript" src="js/displayThermometer.js"></script>
    <script type="text/javascript" src="js/buttonsThermometer.js"></script>
    <script type="text/javascript" src="js/weatherThermometer.js"></script>

  </head>
  <body>
    <div id="weather">
    </div>
    <div id="weather-icon"></div>

    <h1>Current City: </h1><select id="city">
      <option value="London">London</option>
      <option value="KualaLumpur">Kuala Lumpur</option>
      <option value="Cairo">Cairo</option>
      <option value="Turukhansk">Turukhansk</option>
      <option value="Palmas">Palmas</option>
      <option value="Pevek">Pevek</option>
    </select>

    <h1>Temperature</h1><h1 id="temp"></h1>
    <div id="display"></div>
    <h2>Power Saving On/Off</h2>
    <div id="powersave" class="on"></div>
    <button id="save_toggle">Power Saving Mode</button>
    <p>
      <button class="button" id="temp-up">▲</button>
      <button class="button" id="reset">Reset</button>
      <button class="button" id="temp-down">▼</button>

    </p>

  </body>
</html>
